<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button is-fullwidth class="button is-fullwidth is-primary" type='sumit'>Save</button is-fullwidth>
    </div>
    <div class="control">
      <%= link_to 'Cancel', folders_path, class: 'button is-fullwidth is-primary is-light' %>
    </div>
  </div>
<% end %>
