<p id="notice"><%= notice %></p>

<article class="panel is-primary">
  <div class="is-small-padding-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Folders', folders_path %></li>
        <li><%= link_to "#{@subfolder.parent.name}", index_subfolders_path(@subfolder.parent.id) %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= @subfolder.name %></a></li>
      </ul>
    </nav>

    <br>
    <div class="columns is-mobile">
      <div class="column has-text-centered">
        <%= link_to 'New Subfolder', new_subfolders_path(@subfolder), class: 'button is-fullwidth' %>
      </div>
      <div class="column has-text-centered">
        <%= link_to 'New File', '#', class: 'button is-fullwidth' %>
      </div>
    </div>

    <% parent_relation_subfolders.each do |pr_subfolder| %>
      <div class="columns is-mobile">
        <div class="column is-6 is-small-padding-left">
        <%= link_to subfolder_path(pr_subfolder) do %>
          <%= pr_subfolder.name %>
        <% end %>
        </div>
        <div class="column is-2">
          <%= link_to 'Edit', edit_subfolder_path(pr_subfolder) %>
        </div>
        <div class="column is-2">
          <%= link_to 'Destroy', subfolder_url(pr_subfolder), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

      </div>
    <% end %>
  </div>
</article>
